/*------------------------------------*\
    Theme Customizer
\*------------------------------------*/
.hide-item-force {
  display: none !important; }

#customize-theme-controls .customize-control-checkbox {
  font-size: 14px !important;
  font-weight: 600 !important; }
  #customize-theme-controls .customize-control-checkbox .customize-control-description {
    margin-top: 4px;
    margin-left: -24px;
    font-weight: 400; }
#customize-theme-controls .customize-control-description p {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 18px; }

.customize-control-color .customize-control-content {
  float: right; }
  .customize-control-color .customize-control-content .wp-picker-active .wp-color-result:after {
    padding: 0 6px; }
.customize-control-color .wp-color-result {
  width: 140px;
  min-height: 24px;
  margin-right: 0 !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .customize-control-color .wp-color-result:after {
    padding: 0 24px; }

#google-font-message {
  display: block;
  margin-top: 9px;
  font-style: italic; }

#customize-control-nels_setting_error_page_elements_button_title .customize-control-description {
  font-weight: 400; }
#customize-control-nels_setting_error_page_elements_button_title *:last-child {
  font-style: italic;
  font-weight: 400 !important; }

#customize-control-nels_setting_error_page_button_label .customize-control-description,
#customize-control-nels_setting_error_page_button_link .customize-control-description {
  width: 80px;
  padding-left: 20px; }

[id*='customize-control-woocommerce'] .customize-control-title,
[id*='customize-control-woocommerce'] .customize-control-description {
  width: 100% !important;
  margin-right: 0 !important; }
[id*='customize-control-woocommerce'] .customize-control-description + input, [id*='customize-control-woocommerce'] .customize-control-description + select {
  width: 100% !important; }

.customize-control-button input[type='button'] {
  display: inline-block;
  height: 28px;
  width: 48%;
  margin: 0;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px 1px;
  background: #fafafa;
  color: #555;
  font-size: 13px;
  cursor: pointer;
  line-height: 26px;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 1px 0 #ccc;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc; }
  .customize-control-button input[type='button']:hover, .customize-control-button input[type='button']:focus {
    border-color: #999;
    background: #fafafa;
    color: #23282d; }

.customize-control-color .customize-control-title,
.customize-control-number .customize-control-title,
.customize-control-select .customize-control-title, #customize-control-nels_setting_error_page_button_label .customize-control-title,
#customize-control-nels_setting_error_page_button_link .customize-control-title,
.customize-control-color .customize-control-description,
.customize-control-number .customize-control-description,
.customize-control-select .customize-control-description,
#customize-control-nels_setting_error_page_button_label .customize-control-description,
#customize-control-nels_setting_error_page_button_link .customize-control-description,
.customize-control-color .customize-control-content,
.customize-control-number .customize-control-content,
.customize-control-select .customize-control-content,
#customize-control-nels_setting_error_page_button_label .customize-control-content,
#customize-control-nels_setting_error_page_button_link .customize-control-content {
  display: inline-block; }
.customize-control-color .customize-control-title,
.customize-control-number .customize-control-title,
.customize-control-select .customize-control-title, #customize-control-nels_setting_error_page_button_label .customize-control-title,
#customize-control-nels_setting_error_page_button_link .customize-control-title,
.customize-control-color .customize-control-description,
.customize-control-number .customize-control-description,
.customize-control-select .customize-control-description,
#customize-control-nels_setting_error_page_button_label .customize-control-description,
#customize-control-nels_setting_error_page_button_link .customize-control-description {
  width: 100px;
  margin-right: 10px; }
.customize-control-color .customize-control-description + input,
.customize-control-number .customize-control-description + input,
.customize-control-select .customize-control-description + input, #customize-control-nels_setting_error_page_button_label .customize-control-description + input,
#customize-control-nels_setting_error_page_button_link .customize-control-description + input, .customize-control-color .customize-control-description + select,
.customize-control-number .customize-control-description + select,
.customize-control-select .customize-control-description + select, #customize-control-nels_setting_error_page_button_label .customize-control-description + select,
#customize-control-nels_setting_error_page_button_link .customize-control-description + select {
  display: inline-block; }
.customize-control-color .customize-control-description + input,
.customize-control-number .customize-control-description + input,
.customize-control-select .customize-control-description + input, #customize-control-nels_setting_error_page_button_label .customize-control-description + input,
#customize-control-nels_setting_error_page_button_link .customize-control-description + input, .customize-control-color .customize-control-description + select,
.customize-control-number .customize-control-description + select,
.customize-control-select .customize-control-description + select, #customize-control-nels_setting_error_page_button_label .customize-control-description + select,
#customize-control-nels_setting_error_page_button_link .customize-control-description + select {
  float: right;
  width: 140px; }
