/*------------------------------------*\
    Theme Customizer
    RTL
\*------------------------------------*/
#customize-theme-controls .customize-control-checkbox .customize-control-description {
    margin-right: -24px;
    margin-left: 0; }

.customize-control-color .customize-control-content {
    float: left; }

.customize-control-color .wp-color-result {
    margin-left: 0; }

#customize-control-nels_setting_error_page_button_label .customize-control-description,
#customize-control-nels_setting_error_page_button_link .customize-control-description {
    padding-right: 20px;
    padding-left: 0; }

.customize-control-color .customize-control-title,
.customize-control-number .customize-control-title,
.customize-control-select .customize-control-title,
#customize-control-nels_setting_error_page_button_label .customize-control-title,
#customize-control-nels_setting_error_page_button_link .customize-control-title,
.customize-control-color .customize-control-description,
.customize-control-number .customize-control-description,
.customize-control-select .customize-control-description,
#customize-control-nels_setting_error_page_button_label .customize-control-description,
#customize-control-nels_setting_error_page_button_link .customize-control-description {
    margin-right: 0;
    margin-left: 10px; }

.customize-control-color .customize-control-description + input,
.customize-control-number .customize-control-description + input,
.customize-control-select .customize-control-description + input,
#customize-control-nels_setting_error_page_button_label .customize-control-description + input,
#customize-control-nels_setting_error_page_button_link .customize-control-description + input,
.customize-control-color .customize-control-description + select,
.customize-control-number .customize-control-description + select,
.customize-control-select .customize-control-description + select,
#customize-control-nels_setting_error_page_button_label .customize-control-description + select,
#customize-control-nels_setting_error_page_button_link .customize-control-description + select {
    float: left; }